<template name="toggleSwitch">
    <div class="toggleSwitch">

        <div class="form-check {{ enabled }} ts-flex-row" title="{{ label "title" }}">

            {{#if label "labelLeft" }}
                <label class="form-check-label" for="{{ id }}">
                    <span class="ts-mr025em">{{{ label "labelLeft" }}}</span>
                </label>
            {{/if}}

            <div class="ts-flex-column">

                {{#if label "labelTop" }}
                    <label class="form-check-label" for="{{ id }}">
                        <span class="ts-mb2px">{{{ label "labelTop" }}}</span>
                    </label>
                {{/if}}

                <div class="ts-switch">
                    <input type="checkbox" id="{{ id }}" {{ enabled }} />
                    <span class="ts-slider ts-round"></span>
                </div>
    
                {{#if label "labelBottom" }}
                    <label class="form-check-label" for="{{ id }}">
                        <span>{{{ label "labelBottom" }}}</span>
                    </label>
                {{/if}}

            </div>

            {{#if label "labelRight" }}
                <label class="form-check-label" for="{{ id }}">
                    <span class="ts-ml025em">{{{ label "labelRight" }}}</span>
                </label>
            {{/if}}

        </div>


        <!--
        <label class="ts-switch {{ enabled }}" title="{{ label "title" }}">

            <div class="ts-flex-row">

                {{#if label "labelLeft" }}
                    <span class="ts-mr05em">{{{ label "labelLeft" }}}</span>
                {{/if}}

                <div class="ts-flex-column">

                    {{#if label "labelTop" }}
                        <span class="ts-mb2px">{{{ label "labelTop" }}}</span>
                    {{/if}}


                    {{#if label "labelBottom" }}
                        <span>{{{ label "labelBottom" }}}</span>
                    {{/if}}

                </div>

                {{#if label "labelRight" }}
                    <span class="ts-ml05em">{{{ label "labelRight" }}}</span>
                {{/if}}

            </div>
    
        </label>
        -->

    </div>
</template>
